:root {
    --primary-orange: hsl(26, 100%, 55%);
    --primary-pale-orange:  hsl(25, 100%, 94%);
    --dark-blue: hsl(220, 13%, 13%);
    --dark-graish-blue:  hsl(217, 9%, 45%);
    --light-graish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --lightbox-bg: hsl(0, 0%, 0%);
}